$background-black: #141414;
$grey: #181818;
$light-grey: #222222;
$red: #f50915;

.search-box{
  text-align: center;
  margin: 15% auto;
  height: 150px;
  width: 30%;
  background-color: $grey;
  padding: 30px;
  color: #EEE;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #111;
  input{
    background-color: $light-grey;
    border: none;
    height: 20%;
    width: 60%;
    margin: 10px auto;
    display: block;
    color: inherit;
    padding: 10px;
    &:focus {
      outline: 1px solid rgba(255, 255, 255, .4);
    }
  }
  select{
    color: #EEE;
    font-size: 1rem;
    display: block;
    border: none;
    margin: 20px auto;
    background-color: $light-grey;
    &:focus {
      outline: 1px solid rgba(255, 255, 255, .4);
    }
  }
  .button{
    background-color: $red;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 2rem;
    padding: 2px 5px;
    cursor: pointer;
    width: 50%;
  }
}
