html, body{
  font-family: helvetica;
  background-color: #141414;
  color: #EEE;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.summary-text{
  padding: 60px;
  width: 40%;
  text-align: center;
}

a{
  text-decoration: none;
  color: #EEE;
}

img {
  max-width: 100%;
}