@import 'colors';

html, body{
  background-color: $background-black;
  color: #EEE;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
  color: #EEE;
}
