$background-black: #141414;
$grey: #181818;
$light-grey: #222222;
$red: #f50915;

body{
  background-color: $background-black;
  color: #EEE;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a{
  text-decoration: none;
  color: #EEE;
}
